# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
venv/
env/
.DS_Store

# Data and logs
data/downloads/
logs/
*.log
dump.rdb

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# assets
images/